# ============================================
# GITEA
# Générer les secrets : openssl rand -base64 32
# ============================================

GITEA_DB_PASSWORD=gitea_pass_CHANGE_ME
GITEA_SECRET_KEY=CHANGE_ME_openssl_rand_base64_32
GITEA_INTERNAL_TOKEN=CHANGE_ME_openssl_rand_base64_64
SMTP_PASSWORD=CHANGE_ME
