# ============================================
# UMAMI — Login par défaut : admin / umami
# ============================================

UMAMI_DB_PASSWORD=umami_pass_CHANGE_ME
UMAMI_APP_SECRET=CHANGE_ME_random_string
