# ============================================
# AUTH — Authelia
# Générer les secrets : openssl rand -base64 32
# ============================================

AUTHELIA_JWT_SECRET=CHANGE_ME_openssl_rand_base64_32
AUTHELIA_SESSION_SECRET=CHANGE_ME_openssl_rand_base64_32
AUTHELIA_STORAGE_ENCRYPTION_KEY=CHANGE_ME_openssl_rand_base64_32
AUTHELIA_DB_PASSWORD=authelia_pass_CHANGE_ME
SMTP_PASSWORD=CHANGE_ME
